.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-column {
  padding: 10px 15px;
  max-width: 33.33%;;
}

.card-body {
  display: inline-block;
  width: auto;
  margin: 10px;
}